{% extends "base.html.twig" %}

{% block body %}

        <div class="container">
            <h1>Terms and Conditions</h1>
            <hr>
            <div class="row col-md-12">
                <div class="col-md-4">
                    <img class="w-100" src="{{ asset('images/sample.jpg') }}" alt="sample">
                </div>
                <div class="col-md-8">
             
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, adipisci recusandae? Reprehenderit suscipit quos ut eaque aut neque facilis error perspiciatis temporibus excepturi assumenda accusamus perferendis, culpa quo saepe sint?
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim veniam praesentium error nostrum, aspernatur accusantium animi, est sint unde sequi atque rem! Iusto quia doloremque dolores ipsa? Possimus, nihil quibusdam?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, adipisci recusandae? Reprehenderit suscipit quos ut eaque aut neque facilis error perspiciatis temporibus excepturi assumenda accusamus perferendis, culpa quo saepe sint?
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim veniam praesentium error nostrum, aspernatur accusantium animi, est sint unde sequi atque rem! Iusto quia doloremque dolores ipsa? Possimus, nihil quibusdam?</p>
                </div>
            </div>
            
        </div>
{% endblock %}