<html>
    <head>

    </head>
    <body>
        <div style="width:100%">
            <a style="padding-right:10px;" href="{{path('app_lucky_number')}}">Lucky Number</a>
            <a style="padding-right:10px;" href="/">Home</a>
            <a style="padding-right:10px;" href="{{ path('terms-and-conditions') }}">Terms&Conditions</a>
        </div>

        <h1>Terms and Conditions</h1>
        <hr><br>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, adipisci recusandae? Reprehenderit suscipit quos ut eaque aut neque facilis error perspiciatis temporibus excepturi assumenda accusamus perferendis, culpa quo saepe sint?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim veniam praesentium error nostrum, aspernatur accusantium animi, est sint unde sequi atque rem! Iusto quia doloremque dolores ipsa? Possimus, nihil quibusdam?</h4>
    </body>
</html>