<html>
    <head>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    </head>
    <body>
        {{ include('elements/navbar.html.twig') }}

        <div class="container">
            <h1>The Random number is: {{ number }}</h1>
        </div>
        
    </body>
</html>